@import '../../variables';
.pagination {
  display: flex;
  flex-wrap: wrap;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-accent;
    // margin: 0 8px;
    padding: 0 5px;

    // min-width: 18px;
    height: 18px;

    font-size: 15px;
    line-height: 17px;

    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 9px;

    &.active {
      background-color: dodgerblue;
      color: $primary-white;
    }
  }
}

/* Style the active/current link */

/* Add a grey background color on mouse-over */
.pagination div:hover:not(.active) {
  background-color: $secondary-gray;
  cursor: pointer;
}

.pagination .noClick:hover:not(.active) {
  cursor: default;
  background-color: transparent;
}
