@import '../../variables';

.autocomplete {
  display: flex;

  .label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 8px 0 0;
    flex: 1 0 99px;
    color: $primary-black;
  }

  .container {
    position: relative;

    display: flex;
    flex: 1 0 calc(100% - 91px);

    label {
      display: flex;
      align-items: center;

      .input {
        margin-left: 8px;

        z-index: 1;
        outline: none;
        border: none;

        color: $primary-black;

        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */

        padding: 0 8px 0 5px; /* Поля вокруг текста */
        text-overflow: ellipsis; /* Добавляем многоточие */

        &:hover {
          cursor: pointer;
        }

        &.border {
          border-bottom: 1px solid $grey-dark;
        }
      }

      .clearInput {
        position: relative;
        right: 10px;
        z-index: 2;
        height: 8px;
        width: 8px;

        cursor: pointer;
      }
    }
  }

  .datalist {
    display: none;
    overflow-y: auto;
    height: 140px;
    background-color: $primary-white;
    overflow: hidden;
    overflow-y: auto;
    &.display {
      display: flex;
      flex-direction: column;
      position: absolute;
      min-width: 170px;
      width: max-content;
      border: 1px solid $grey-light;
      margin-left: 8px;
      z-index: 999;
      opacity: 1;
      top: 15px;
    }
  }
  .option {
    padding-left: 4px;
    margin-top: 3px;
    margin-bottom: 3px;

    width: 100%;
    background-color: $primary-white;
    color: $grey-dark;

    &:hover {
      cursor: pointer;
      color: $primary-accent;
      background-color: $grey-light;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $grey-dark;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $grey-dark;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $grey-dark;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $grey-dark;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $grey-dark;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grey-dark;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $grey-dark;
}
