.button {
  background: var(--primary-accent);
  background-blend-mode: darken;
  border-radius: 4px;
  width: 110px;
  height: 29px;

  border: none;
  outline: none;

  &.disable {
    background: #eeeeee;
  }

  .text {
    display: flex;
    justify-content: center;

    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    line-height: 13px;
    text-align: center;

    &.loading > svg {
      height: 32px;
      width: 32px;

      animation-name: rotation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &[data-background='red'] {
    background: var(--secondary-red);
  }

  &[data-background='gray'] {
    background: var(--secondary-gray);

    .text {
      color: #3d5170;
    }
  }
}
