@import '../../variables';

.button {
  background: $primary-accent;
  background-blend-mode: darken;
  border-radius: 4px;
  width: 110px;
  height: 29px;

  border: none;
  outline: none;

  &.disable {
    background: $grey-light;
  }

  &:hover {
    background: darken($primary-accent, 20%);
  }
  &:active {
    background: darken($primary-accent, 10%);
  }

  .text {
    display: flex;
    justify-content: center;

    color: $primary-white;
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    line-height: 13px;
    text-align: center;

    &.loading > svg {
      height: 32px;
      width: 32px;

      animation-name: rotation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &[data-background='red'] {
    background: $secondary-red;
    &:hover {
      background: darken($secondary-red, 20%);
    }
    &:active {
      background: darken($secondary-red, 10%);
    }
  }

  &[data-background='gray'] {
    background: $secondary-gray;
    &:hover {
      background: darken($secondary-gray, 20%);
    }
    &:active {
      background: darken($secondary-gray, 10%);
    }

    .text {
      color: $button-gray-text;
    }
  }
}
