.content {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .params {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 80%;
      .name {
        display: flex;
        align-items: center;
        margin-right: 8px;

        flex: 1 0 170px;
        span {
          margin-right: 8px;
        }
        input {
          display: inline-block;
        }
        @media (max-width: 768px) {
          margin-bottom: 8px;
        }
      }
      .description {
        display: flex;
        align-items: center;

        margin-right: 8px;

        flex: 1 0 240px;
        span {
          margin-right: 8px;
        }
        input {
        }

        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 8px;
        }
      }
    }
    .editGroup {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}
