@import '../../variables';
.tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0 0 50px 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  .item {
    flex: 0 1 16.666%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $grey-light;
    span {
      position: relative;
      z-index: 2;
      color: $primary-black;
    }
  }
}
.body {
  flex: 1 1 auto;
  overflow: auto;
}

.addButton {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.pagination {
  flex: 0 0 64px;
}
.block {
  position: relative;
  padding: 20px;
  display: none;
  background-color: $primary-white;
}

.block:target {
  display: block;
}

@media (max-width: 600px) {
  .items {
    .item {
      span {
        display: block;
        padding: 0 4px;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        color: $primary-accent;
      }
    }
  }
}
