/* Customize the label (the container) */
.container {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 18px;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  letter-spacing: -0.175439px;

  color: #495057;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  // left: -5px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;

  left: 0;
  height: 13px;
  width: 13px;
  background: #ffffff;
  border: 0.5px solid #becad6;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #007bff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 13px;
  height: 13px;
  // border: solid white;

  transform: translate(-50%, -50%);
  background-color: transparent;
  background-image: url('../../../../assets/checkbox.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .group {
    border: none;

    &.column {
      display: flex;
      flex-direction: column;
    }

    legend {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;

      padding-bottom: 18px;

      color: var(--primary-dark);
    }

    label {
      position: relative;
      padding-bottom: 8px;

      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #495057;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
