.carSettings {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  background: #ffffff;
  /* CardShadow#1 */

  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 9px;
  margin: 0px 14px;
  margin-bottom: 24px;

  @media (max-width: 1024px) {
    height: max-content;
    margin: 7px;
  }

  //   @media (max-width: 768px) {
  //     margin: 0px;
  //   }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 18px;
    .title {
      display: flex;
      align-items: center;
      height: 58px;
      // margin-bottom: 24px;

      font-weight: 500;
      font-size: 17.5px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: -0.4375px;

      color: #3d5170;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -10.5px;
      .input {
        // margin-right: 21px;
        flex: 1 1 auto;
        padding: 0px 10.5px;
        .label {
          margin-top: 16px;
          margin-bottom: 8px;

          font-size: 10.5px;
          line-height: 12px;
          /* identical to box height */

          letter-spacing: -0.18421px;

          /* Black */

          color: #121212;
        }
        .availableColor {
          display: flex;
        }
        input {
          display: flex;
          //   flex: 1 1 auto;
          min-width: 300px;
          width: 100%;
          height: 30px;
          border: 1px solid #becad6;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 0 11px;

          &.carColor {
            min-width: 240px;
          }

          &.inputError {
            border-color: #c4183c;
            box-shadow: 0px 2.5px 5.5px rgba(196, 24, 60, 0.1);
          }
        }
        .error {
          font-family: Helvetica;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 11px;
          /* identical to box height */
          letter-spacing: -0.175439px;
          color: #c4183c;
          padding-top: 4px;
          padding-left: 12px;
        }
        .carColorButton {
          display: flex;

          width: 30px;
          height: 30px;
          background-color: white;
          margin-left: 8px;

          border: 1px solid #becad6;
          box-sizing: border-box;
          border-radius: 4px;

          &:hover {
            cursor: pointer;
            background-color: #e9ecef;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            // margin-top: 0px;
            span {
              font-size: 22px;
              color: #becad6;
            }
          }
        }
      }
    }
    .filters {
      flex: 1 1 auto;
    }

    .buttonsBar {
      flex: 0 0 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;

      button {
        margin-top: 12.5px;
      }

      .buttonGroup {
        .save {
          margin-right: 12.5px;
        }
      }
    }
  }
}
