@import '../../variables';

.button {
  display: flex;
  align-items: center;
  background: $primary-white;
  border: 0.5px solid $border-select;
  box-sizing: border-box;
  width: 71px;
  height: 24px;
  color: $grey-dark;

  font-size: 11px;
  line-height: 13px;
  > svg:first-child {
    margin: 8px 4px 8px 8px;
  }

  &:hover {
    background: $grey-light;
  }
}

button:disabled,
button[disabled] {
  background-color: $grey-light;
  cursor: default;

  &:hover {
    background: $grey-light;
  }
}

.ready {
  border-radius: 4px 0px 0px 4px;
  border-right: none;
  svg {
    path {
      fill: $secondary-green;
    }
  }
  &.status {
    background: $secondary-green;
    color: $primary-white;

    svg {
      path {
        fill: $primary-white;
      }
    }

    &:hover {
      background: $secondary-green;
    }
  }
}

.cancel {
  border-right: none;
  svg {
    path {
      fill: $secondary-red;
    }
  }
  &.status {
    background: $secondary-red;
    color: $primary-white;

    svg {
      path {
        fill: $primary-white;
      }
    }

    &:hover {
      background: $secondary-red;
    }
  }
}

.edit {
  border-radius: 0px 4px 4px 0px;
}
