.sidebar {
  flex: 1 0 285px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1),
    0px 3.5px 17.5px rgba(165, 182, 201, 0.1);

  @media (max-width: 1024px) {
    flex: 1 0 68px;
  }

  @media (max-width: 460px) {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 68px;
    padding-left: 48px;

    box-shadow: inset 0px -1px 0px #e1e5eb;

    @media (max-width: 1024px) {
      padding-left: 0;
      justify-content: center;
    }
  }

  .svg {
    width: 22px;
    height: 22px;
    margin-right: 8px;

    @media (max-width: 1024px) {
      margin-right: 0px;
    }
  }

  .name {
    color: #3d5170;
    font-size: 16px;
    line-height: 18px;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .items {
    .item {
      display: flex;
      align-items: center;
      height: 58px;
      padding-left: 30px;

      font-size: 15px;
      line-height: 17px;
      color: #3d5170;

      box-shadow: inset 0px -1px 0px #e1e5eb;

      @media (max-width: 1024px) {
        justify-content: center;
        padding-left: 0;
      }
      &_active {
        color: #007bff;
        background: #fbfbfb;
        box-shadow: inset 0px -1px 0px #e1e5eb, inset 4px 0px 0px #007bff;
      }

      &:hover {
        cursor: pointer;
        background: #fbfbfb;
        box-shadow: inset 0px -1px 0px #e1e5eb, inset 4px 0px 0px #007bff;
      }

      .sidebarSvg {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 12px;

        @media (max-width: 1024px) {
          margin-right: 0;
        }

        svg {
          @media (max-width: 1024px) {
            width: 25px;
            height: 25px;
          }
        }
      }

      span {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}
