$primary-accent: #007bff;
$primary-black: #121212;
$primary-white: #ffffff;
$secondary-red: #c4183c;
$secondary-gray: #e9ecef;
$secondary-green: #17c671;
$secondary-label: #495057;
$grey-dark: #5a6169;
$grey-light: #eeeeee;
$sidebar-background: #151b1f;
$gray-text: #3d5170;
$border-select: #becad6;
