@import '../../variables';

.title {
  display: flex;
  flex: 0 0 68px;

  @media (max-width: 1024px) {
    flex: 0 1 auto;
  }

  @media (max-width: 460px) {
    justify-content: center;
  }
  h1 {
    font-size: 29px;
    line-height: 33px;

    color: $gray-text;
  }
}
.cardAuto {
  display: flex;
  margin: 0px -14px;

  @media (max-width: 1024px) {
    justify-content: center;
    margin: 7px;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap-reverse;
    margin: 0px;
  }
  @media (max-width: 460px) {
    justify-content: center;
  }
}
